/** @format */

.App {
  text-align: center;
  margin-top: 10px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 20px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: 0.01px 0.5px #ebe1e1;

  margin-bottom: 5px;
  z-index: 1000;
}

h2 {
  margin-left: 10px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

main {
  padding: 10px;
  z-index: -1;
}
/* header component */

.title {
  flex: 1;
  max-width: 100%;
}

#app_logo {
  top: 0;
  float: left;
  width: 7rem;
  height: 10;
}

#app_firstName {
  position: relative;
  float: left;
  color: rgba(59, 134, 128, 1);
  font-size: 1.7rem;
  font-family: 'KBO-Dia-Gothic_bold';
  font-style: italic;
}

#app_lastName {
  position: relative;
  color: rgba(248, 157, 65, 1);
  font-size: 1.9rem;
  font-family: 'KBO-Dia-Gothic_bold';
  font-style: italic;
}

@font-face {
  font-family: 'KBO-Dia-Gothic_bold';
  src: url('./fonts/KBO Dia Gothic_bold.ttf');
}

#hamburger_icon {
  float: right;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex: 1;
  z-index: 1000;
}

#hamburger_icon svg {
  margin-right: 20px;
  color: #3b8680;
  font-size: xx-large;
  position: absolute;
  z-index: 1000;
  right: 0;
  cursor: pointer;
}

/* footer component */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: #707070;
  bottom: 0;
  width: 100%;
}

/* hamburger component */

ul {
  padding-left: 0;
}

menu {
  z-index: 1000;
}

#dropdown {
  position: absolute;
  top: 80px;
  right: 3rem;
  border-radius: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 5px #747474;
  background-color: white;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  animation: slideDown 0.8s ease-in-out forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(10px);
  }
}

.hamburger_faGift {
  color: #3b8680;
}

.hamburger_faStar {
  color: #3b8680;
  position: relative;
}

.greeting {
  padding: 0.3rem;
}
.itemsPage {
  border: 1px solid gray;
  border-left: none;
  border-right: none;
  padding: 0.3rem;
}

.bookmarkPage {
  padding: 0.3rem;
  float: left;
  margin-left: 10px;
}

/* homelist */

/* item component */

.item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 20vw;
}

.item_data {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.item_img {
  position: relative;
  width: 330px;
  height: 260px;
}

.item_img img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  box-sizing: content-box;
  box-shadow: 2px 2px 5px #747474;
  border-radius: 15px;
  object-fit: cover;
}

.item_info {
  padding-top: 10px;
  padding-bottom: 10px;
}

.item_info1 {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
}

.item_info1_title {
  text-align: left;
}

.item_info1_others {
  text-align: right;
}

.item_info1_dc {
  color: purple;
}

.item_info2 {
  margin-top: 3px;
  display: flex;
  justify-content: flex-end;
}

.faStar {
  position: absolute;
  right: 20px;
  top: 220px;
  color: rgb(202, 202, 202);
  font-size: large;
  z-index: 999;
}

.faStar_bookmarked {
  position: absolute;
  right: 20px;
  top: 220px;
  color: rgb(249, 255, 83);
  font-size: large;
}

/* HomeList component */
section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* itempage component */

.items_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* category component */
.categories_wrapper {
  position: sticky;
  display: flex;
  justify-content: center;
}

.categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  width: 45%;
}

.category {
  display: flex;
  flex-direction: column;
}

.category_img_container {
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  box-shadow: 1.5px 1.5px 5px #747474;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category_img {
  width: 100%;
  cursor: pointer;
  font-size: xx-large;
}

.category_img_brand {
  width: 40%;
  height: 100%;
}

.category_title {
  margin-top: 10px;
  font-size: 16px;
}

/* 현재 css 문제 

Dropdown menu
1. 상단에 고정시켜야 한다.

*/
