.App {
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#app-logo {
  width: 15%;
  height: 15%;
}

#app-firstName {
  color: rgba(59, 134, 128, 1);
  font-size: 1.7rem;
  font-family: "KBO-Dia-Gothic_bold";
  font-style: italic;
}

#app-lastName {
  margin-left: 0.3rem;
  color: rgba(248, 157, 65, 1);
  font-size: 1.9rem;
  font-family: "KBO-Dia-Gothic_bold";
  font-style: italic;
}

@font-face {
  font-family: "KBO-Dia-Gothic_bold";
  src: url("./fonts/KBO Dia Gothic_bold.ttf");
}

#title {
  margin-right: 500px;
}

#hamburger svg {
  color: #3b8680;
  margin-right: 50px;
  font-size: xx-large;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: #707070;
}