/** @format */

.App {
  text-align: center;
  margin-top: 10px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 20px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  box-shadow: 0.01px 0.5px #ebe1e1;
  margin-bottom: 15px;
}

h2 {
  margin-left: 10px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* header component */

.title {
  flex: 1;
  max-width: 100%;
}

#app_logo {
  top: 0;
  float: left;
  width: 7rem;
  height: 10;
}

#app_firstName {
  position: relative;
  float: left;
  color: rgba(59, 134, 128, 1);
  font-size: 1.7rem;
  font-family: 'KBO-Dia-Gothic_bold';
  font-style: italic;
}

#app_lastName {
  position: relative;
  color: rgba(248, 157, 65, 1);
  font-size: 1.9rem;
  font-family: 'KBO-Dia-Gothic_bold';
  font-style: italic;
}

@font-face {
  font-family: 'KBO-Dia-Gothic_bold';
  src: url('./fonts/KBO Dia Gothic_bold.ttf');
}

#hamburger_icon {
  float: right;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex: 1;
}

#hamburger_icon svg {
  margin-right: 20px;
  color: #3b8680;
  font-size: xx-large;
  position: absolute;
  z-index: 999;
  right: 0;
  cursor: pointer;
}

/* footer component */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: #707070;
  bottom: 0;
  width: 100%;
}

/* hamburger component */

ul {
  padding-left: 0;
}

#dropdown {
  position: fixed;
  top: 70px;
  right: 3rem;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: white;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  animation: slideDown 0.8s ease-in-out forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(10px);
  }
}

.faGift {
  color: #3b8680;
}

.faStar {
  color: #3b8680;
}

.greeting {
  padding: 0.3rem;
}
.itemsPage {
  border: 1px solid gray;
  border-left: none;
  border-right: none;
  padding: 0.3rem;
}

.bookmarkPage {
  padding: 0.3rem;
}

/* homelist */

.item {
  border: 1px solid #ffffff;
  width: 22%;
  padding: 10px;
}

/* item component */

.item_data {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.item_img {
  position: relative;
  width: 100%;
  height: 260px;
}

.item_img img {
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  box-sizing: content-box;
  box-shadow: 2px 2px 5px #747474;
  border-radius: 15px;
  object-fit: cover;
}

.item_info {
  padding-top: 10px;
  padding-bottom: 10px;
}

.item_info1 {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
}

.item_info1_title {
  text-align: left;
}

.item_info1_others {
  text-align: right;
}

.item_info1_dc {
  color: purple;
}

.item_info2 {
  margin-top: 3px;
  display: flex;
  justify-content: flex-end;
}

.faStar {
  position: absolute;
  right: 20px;
  top: 225px;
  color: rgb(194, 194, 194);
  font-size: large;
}

/* HomeList component */
section {
  display: flex;
  justify-content: space-between;
}
